body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    background-color: #ffa500;
    padding: 20px 0;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pictures/backgraund.jpg');
    padding: 20px 0;
}

.pic {
    height: 300px;
    width: 600px;
    margin: 0 10px;
}


/* 最新動画のブロック */
.video-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video-item {
    width: 48%;
    position: relative;
}

iframe {
    width: 100%;
    height: 315px;
}

.description {
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

/* 編集と削除ボタンのスタイル */
.video-item button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.button-group {
    position: absolute;
    top: 10px; /* 動画の上部に配置 */
    right: 10px; /* 右端に配置 */
    display: flex;
    gap: 5px;
}

/* レア度選択メニュー */
.menu {
    margin: 20px 0;
    text-align: center;
}

#nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

#nav > li {
    list-style: none;
    width: 200px;
    height: 40px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-right: 1px solid #eee;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#nav > li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

#nav > li:hover ul {
    display: block;
}

#nav li ul li {
    border-top: 1px solid #eee;
    height: 40px;
    line-height: 40px;
}

#nav li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
}

#nav li ul li a:hover {
    background: #f4f4f4;
}

/* 動画リスト */
.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    width: 48%;
    position: relative;
    padding-bottom: 27%; /* 16:9 aspect ratio */
    margin-bottom: 20px;
}

.box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.input-section {
    margin: 20px 0;
    text-align: center;
}
